@page "/"

<PageTitle>Index</PageTitle>

<h1 style="color: deeppink">Hello, world!</h1>

Mirosław Marczyk, nr albumu: 115230, Miłego dnia/wieczoru/nocy :)

<SurveyPrompt Title="How is Blazor working for you?" />

<div style="padding: 20px 0 20px 0">
    <h2>Rower mtb 1</h2>
    <hr />
    <img src="https://magazynbike.pl/wp-content/uploads/2020/05/C21_ScalpelSi_ShockPivot_0089-1.jpg"/>
</div>